<!-- Blog HTML -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

               {% for post in site.posts %}
                <!-- Blog Post -->
                <h2><a href="{{ post.url }}">{{ post.title }}.</a></h2>

                <p class="lead">by <a href="#">{{ post.author }}</a></p>
                <p><span class="glyphicon glyphicon-time"></span>{{ post.date | %B %d, %Y }}</p>
                {% if page.image %}
                <img class="img-responsive" src="{{ post.image }}" atl="{{ post.title }}"></img>
                {% endif %}
                <hr>
                {{ post.excerpt }}
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis, mi nec pretium pulvinar, felis neque accumsan metus, eleifend egestas elit orci vel enim. Morbi pharetra ex velit. Phasellus auctor nec mi ut dictum. Nam et lobortis nisi, sit amet semper lorem. Nulla cursus tempus convallis. Sed pharetra mi eros, vitae feugiat eros sodales et. Donec quis leo massa. Ut vel neque a purus auctor condimentum. Aliquam eget ipsum vitae lectus porta pretium. Sed non pellentesque magna, quis molestie augue. Etiam quis placerat sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus blandit sagittis. Pellentesque imperdiet finibus massa ac sollicitudin.</p>

                <a class="btn btn-primary" href="{{ post.url }}""> Read More</a>
                <hr>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
